

 .nav__filtersList {

    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: flex-start;
    margin-right: 10px;
  }

  .nav__filtersList-item{
      padding: 10px;
      margin-left: 10px;
      text-align: right;
      position: relative;
      background: gold;
  }
